[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
nibabel = "*"
monai = "==1.3.0"
celluloid = "*"

[dev-packages]
ipykernel = "*"

