[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
pandas = "*"
matplotlib = "*"
torch = "==2.0.1"
torchvision = "==0.15.2"
nibabel = "*"
monai = "==1.3.0"
celluloid = "*"
causal-conv1d = "*"
statsmodels = "*"
scikit-posthocs = "*"

[dev-packages]
ipykernel = "*"
